.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
}
@media screen and (min-width: 1430px) {
  .header {
    flex-direction: row;
    justify-content: space-around;
  }
}

.image {
  height: var(--image-size-l);
  width: var(--image-size-l);
}

.article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.articleHeading {
  align-items: center;
  color: var(--color-indigo-30);
  display: flex;
  font-size: var(--font-size-s);
  padding-bottom: 0.5em;
  white-space: pre;
}

.articleOverline,
.articleOverlineBig {
  align-items: center;
  display: flex;
  font-weight: bold;
}
.articleOverline {
  font-size: var(--font-size-l);
}
.articleOverlineBig {
  font-size: var(--font-size-xl);
  justify-content: center;
}
