.wrapper {
  background: var(--color-ui-background-darker);
  color: var(--color-typography-font-inverted);
  height: 400px;
  position: relative;
}

.hourlyData {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 32px 0px 0px;
  position: relative;
}
.hourlyDataItem {
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style-type: 0;
  margin: 0;
  padding: 0;
  position: relative;
  text-indent: 0;
}
