.wrapper {
  background: var(--color-ui-background-darker);
  color: var(--color-typography-font-inverted);
  height: 400px;
  position: relative;
}

.header {
  display: flex;
  flex-direction: row;
}

.article {
  padding: 5% 15%;
}

.hourlyDataList {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 32px 0px 0px;
  position: relative;
}

.hourlyData {
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style-type: 0;
  margin: 0;
  padding: 0;
  position: relative;
  text-indent: 0;
  width: 212px;
}
